//variable
$primary-color:blue;
$body-color:#f4f4f4;
$heading-color:#fff;
$link-color:$heading-color;
$primary-colors:orange;
$sub-heading-color:#f4f4f4;
$secondery-color:blue;
//font
$body-font:Helvetica, sans-serif;
@function text-color($color){
    @if(lightness($color) > 70){
        @return #333;
    }
     @else{
        @return #fff;

     }
}
@mixin background-color($color) {
    background-color:$color;
  color: text-color($color);
    
}
$steps:(1,2,3,4,5,6);
@each $step in $steps {
  .my-#{$step}{
    margin:#{$step*10}px 0;
  }
}